body {
  background-color: #f6f6f6;
}
.card {
  border-radius: 20px;
  text-align: center;
}
.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#search-text {
  text-align: center;
  padding: 22px;
  border-radius: 20px;
  margin-top: 25px;
}
.details-card {
  margin-bottom: 30px;
  text-align: center;
  width: 800px;
}
.details-card img {
  width: 800px;
}
.details-col {
  display: flex;
  justify-content: center;
}
.go-home-btn {
  text-align: center;
  padding: 15px;
  margin-bottom: 5px;
}
.go-home-row {
  display: flex;
  justify-content: center;
}
